<div class="contactForm">

<% reasons =[['I would like to rent a washing machine','I would like to rent a washing machine'],['I would like to rent a tumble dryer','I would like to rent a tumble dryer'],['I would like to rent a dishwasher','I would like to rent a dishwasher'],['Other','Other']] %>

<%= form_for(@contact) do |f| %>

<%= f.text_field :name, :placeholder => "Name" %>

<%= f.text_field :email, :placeholder => "Email" %>

<%= f.text_field :telephone, :placeholder => "Telephoe Number" %>

<%= f.select(:reason, options_for_select(reasons), {:prompt => "I'm contacting you beacuse.."}) %>

<%= f.text_area :note, :placeholder => "Write any questions here.." %>

<%= f.submit "Submit" %>


<div class="close">Close</div>


<% end %>




</div>

<div class="paymentTab1">Make a Payment</div>

<div class="main">

<% provide(:title, 'Home') %>

<div class="logo"></div>

<div class="contact">
Telephone: 01642 788123<br/>
Mobile: 07825 407 607<br/>
E-mail us at <a href="mailto:enquiries@thompsonsrentals.co.uk">enquiries@thompsonsrentals.co.uk</a>

</div>

<div class="line-break"></div>

<% if false %>

<%= link_to "Sign up", signup_path %>

<% end %>

<div class="title">

<div class="handdrawn">Rent a washing machine, dryer or dishwasher from £4.49 a week.</div>

</div>

<div class="account">

<ul>

<li><i class="icon-user"></i> My Account</li>
<li><i class="icon-credit-card"></i> Make a Payment</li>
<li><i class="icon-warning-sign"></i> Report a Fault</i>
</ul>

</div>

<div class="text">We Rent Washing Machines, Tumble Dryers & Dishwashers In The Teesside Area.</div>

<div class="image">
<div class="text-overlay">&</div>
<div class="text-overlay second">&</div>
<div class="button">Washing Machines <i class="icon-double-angle-right"></i></div>
<div class="button second">Dishwashers <i class="icon-double-angle-right"></i></div>
<div class="button third">Tumble Dryers <i class="icon-double-angle-right"></i></div>
</div>

<div class="line-break"></div>

<div class="boxLeft">Our Rentals Start From As Little As £4.49 / Week.</div>

<div class="boxRight">Free Parts & Labour.</div>

<div class="boxLeft">Free Repairs & Maintenence. No Hidden Costs.</div>

<div class="boxRight">Free Servicing.</div>

<div class="boxLeft">Quick Decisions & Fast Delivery.</div>

<div class="boxRight">No Long-term Contract.</div>

<div class="boxLeft">Opening Hours: 9 - 5 Monday to Friday</div>

<div class="line-break"></div>

<div class="words"><b>Looking for washing machine rental?</b> Renting a washing machine can take the headache out of your wash days as you'll never have to worry about expensive call out fees, repair costs or trips to the launderette ever again.</div>

<div class="words"><b>Looking for Tumble Dryer rental?</b> Two types of tumble dryers are available which are vented and condensor. Vented dryers have to be ducted through a hole in the wall, door or window and condensor dryers convert the steam back into water and pump it into a resevoir which then needs emptying.</div>

<div class="words"><b>Looking for dishwasher rental?</b> The main reason why so many people now rent Dishwashers is the reliability, as an appliance like a Dishwasher not working can cause a lot of unnecessary stress, especially if you have a big family or don't have the time to stand around the sink washing by hand.</div>

<div class="line-break"></div>

<iframe src="http://mapsengine.google.com/map/view?mid=zTq6wZSdLWTo.kr30YeJapXu4" width="1000" height="480"></iframe>

<div class="line-break"></div>

</div>